*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  width: 450px;
  border: 1px dotted gray;
  align-items: center;
  row-gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

h1{
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 5px;
}
#addTodo{
  display: flex;
  justify-content: space-between;
  width: 50%;
  
}

.list{
 display: flex;
 width: 350px;
 justify-content: space-between;
list-style: none;
margin: 10px 5px;
background-color: skyblue;
align-items: center;
border-radius: 50px;
padding: 5px 10px;
}
.btn{
  background-color: transparent;
  background-color: darkgreen;
  border: none;
  border-radius: 30px;
  margin-left: 3px;
  width: 70px;
  padding: 10px 5px;
}
.delete{
  color: red;
  background-color: lightgreen;
}
#task{
  background-color: azure;
  border-radius: 30px;
  padding: 5px 10px;
}
#btn{
  width: 70px;
}